{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Bienvenue dans notre blog sur les livres</h1>

    <p>
        Ceci est un blog sur les livres. Vous pouvez consulter les livres, les commentaires.
        Vous pouvez aussi ajouter des livres et des commentaires.
    </p>

{% endblock %}
